# Node modules
node_modules/

# dotenv файл с секретами
.env

# Логи
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Папка кэша
.cache/
dist/
build/

# IDE-шные файлы
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac OS мусор
.DS_Store

# Docker файлы (если вдруг когда-то появятся)
docker-compose.override.yml
